<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <AutoDarkModeApp.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>pt</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>870</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>688</value>
            </setting>
        </AutoDarkModeApp.Properties.Settings>
    </userSettings>
</configuration>